<nav class="social" aria-label="Social links">
  <ul class="social-grid">
    <!-- GitHub -->
    <li class="social-item github">
      <a class="tile" href="https://github.com/initMoin" target="_blank" rel="noopener">
        <span class="pill"></span>
        <span class="icon-wrap" aria-hidden="true">
          <img class="icon img--default" src="/assets/social/github-black.png" alt="">
          <img class="icon img--hover"   src="/assets/social/github-white.png" alt="">
        </span>
      </a>
    </li>

    <!-- Medium -->
    <li class="social-item medium">
      <a class="tile" href="https://medium.com/shift-bydesign" target="_blank" rel="noopener">
        <span class="pill"></span>
        <span class="icon-wrap" aria-hidden="true">
          <img class="icon img--default" src="/assets/social/medium-black.png" alt="">
          <img class="icon img--hover"   src="/assets/social/medium-white.png" alt="">
        </span>
      </a>
    </li>

    <!-- 500px -->
    <li class="social-item px500">
      <a class="tile" href="https://500px.com/p/initshift" target="_blank" rel="noopener">
        <span class="pill"></span>
        <span class="icon-wrap" aria-hidden="true">
          <img class="icon img--default" src="/assets/social/500px-black.png" alt="">
          <img class="icon img--hover"   src="/assets/social/500px-white.png" alt="">
        </span>
      </a>
    </li>

    <!-- Bluesky -->
    <li class="social-item bluesky">
      <a class="tile" href="https://bsky.app/profile/shiftby.design" target="_blank" rel="noopener">
        <span class="pill"></span>
        <span class="icon-wrap" aria-hidden="true">
          <img class="icon img--default" src="/assets/social/bluesky-black.png" alt="">
          <img class="icon img--hover"   src="/assets/social/bluesky-white.png" alt="">
        </span>
      </a>
    </li>

    <!-- Mastodon -->
    <li class="social-item mastodon">
      <a class="tile" href="https://mastodon.social/@initshift" target="_blank" rel="me noopener">
        <span class="pill"></span>
        <span class="icon-wrap" aria-hidden="true">
          <img class="icon img--default" src="/assets/social/mastodon-black.png" alt="">
          <img class="icon img--hover"   src="/assets/social/mastodon-white.png" alt="">
        </span>
      </a>
    </li>

    <!-- Email -->
    <li class="social-item email">
      <a class="tile" href="mailto:you@example.com">
        <span class="pill"></span>
        <span class="icon-wrap" aria-hidden="true">
          <img class="icon img--default" src="/assets/social/email-black.png" alt="">
          <img class="icon img--hover"   src="/assets/social/email-white.png" alt="">
        </span>
      </a>
    </li>
  </ul>
</nav>